

.container{
    
    align-items: center;
    justify-content: center;
}
.cbtn{
    align-items: center;
    justify-content: center;
    height: 40px;
    
  
}
input{
    height: 30px;
    width: 170px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
}