
input{
    height: 30px;
    width: 170px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    margin-top: 5%;
}
.container{
    
    align-items: center;
    justify-content: center;
}




